test_flow.json
[{"id":"c9852117.649d1","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"7d9e3819.42b8c8","type":"template","z":"c9852117.649d1","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head></head>\n    <body>\n        <h1>Hello {{req.query.name}}!</h1>\n    </body>\n</html>","x":427,"y":133,"wires":[["d4b7c9d2.5f3488"]]},{"id":"40301921.661288","type":"http in","z":"c9852117.649d1","name":"","url":"/hello-query","method":"get","swaggerDoc":"","x":257,"y":133,"wires":[["7d9e3819.42b8c8"]]},{"id":"d4b7c9d2.5f3488","type":"http response","z":"c9852117.649d1","name":"","x":567,"y":133,"wires":[]}]