test_flow.json
[{"id":"c9852117.649d1","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"40301921.661288","type":"http in","z":"c9852117.649d1","name":"","url":"/hello-query","method":"get","upload":false,"swaggerDoc":"","x":257,"y":133,"wires":[["67e9fa61.e36d54"]]},{"id":"74eab461.b4e85c","type":"exec","z":"c9852117.649d1","command":"python D:\\POC_project\\code\\node_red_mqtt\\APIs\\get_api_handler.py ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":809,"y":133.5,"wires":[["ba5f25b9.3abfc8"],[],[]]},{"id":"67e9fa61.e36d54","type":"json","z":"c9852117.649d1","name":"","property":"payload","action":"","pretty":false,"x":453,"y":133,"wires":[["74eab461.b4e85c"]]},{"id":"ba5f25b9.3abfc8","type":"debug","z":"c9852117.649d1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1196,"y":130,"wires":[]}]