test_flow.json
[{"id":"c9852117.649d1","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"3363257f.838afa","type":"ui_tab","z":"c9852117.649d1","name":"New Test","icon":"dashboard"},{"id":"90f0880c.1f9fe8","type":"ui_group","z":"c9852117.649d1","name":"Group 2","tab":"279d8078.dcf29","order":2,"disp":true,"width":"6"},{"id":"40301921.661288","type":"http in","z":"c9852117.649d1","name":"","url":"/hello-query","method":"get","upload":false,"swaggerDoc":"","x":257,"y":133,"wires":[["67e9fa61.e36d54"]]},{"id":"74eab461.b4e85c","type":"exec","z":"c9852117.649d1","command":"python D:\\POC_project\\code\\node_red_mqtt\\APIs\\get_api_handler.py ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":809,"y":133.5,"wires":[["f9cf93e2.491b","8c9b8b5c.482528"],[],[]]},{"id":"67e9fa61.e36d54","type":"json","z":"c9852117.649d1","name":"","property":"payload","action":"","pretty":false,"x":453,"y":133,"wires":[["74eab461.b4e85c"]]},{"id":"8c9b8b5c.482528","type":"debug","z":"c9852117.649d1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1161.5,"y":199,"wires":[]},{"id":"fa56245e.7ecd28","type":"template","z":"c9852117.649d1","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head></head>\n    <body>\n        {{!--<h1>bounding box received as {{req.query.bbox}}!</h1>--}}\n        {{!--<h1>toekn received as {{req.query.token}}!</h1>--}}\n        {{!--<h1>toekn received as {{msg.content}}!</h1>--}}\n        <div ng-bind-html=\"msg.payload\"></div>\n    </body>\n</html>","x":333,"y":451,"wires":[[]]},{"id":"d54190b4.efa2c","type":"http response","z":"c9852117.649d1","name":"","statusCode":"","headers":{},"x":909,"y":399,"wires":[]},{"id":"f9cf93e2.491b","type":"template","z":"c9852117.649d1","name":"","field":"payload","fieldType":"msg","syntax":"mustache","template":"Hello Random - {{ payload }}","x":796.0000610351562,"y":282,"wires":[["d54190b4.efa2c"]]}]